# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log

# Vite / frontend build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# If frontend folder exists
frontend/node_modules/
frontend/dist/
